/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@angular/material/theming.scss';
@include mat-core();

$candy-app-primary: mat-palette($mat-blue);
$candy-app-secondary:  mat-palette($mat-indigo, A200, A100, A400);

$candy-app-warn:    mat-palette($mat-red);

$candy-custom-theme: mat-light-theme($candy-app-primary,
$candy-app-secondary,
$candy-app-warn
);

@include angular-material-theme($candy-custom-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
